POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE_URL=

POSTGRES_USER_TEST=test_user
POSTGRES_PASSWORD_TEST=postgres
POSTGRES_DB_TEST=TestDB
POSTGRES_HOST_TEST=localhost
POSTGRES_PORT_TEST=5432
POSTGRES_DATABASE_URL_TEST=postgresql://test_user:postgres@localhost:5432/TestDB