version: '3.8'
services:
  job-board-api:
    build: ../
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - postgres
    environment:
      PYTHONUNBUFFERED: 1
    networks:
      - postgres-network
  postgres:
    image: postgres:latest
    env_file:
      - ../.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - postgres-network
networks:
  postgres-network:
volumes:
  pgdata: